@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 18%;
    --foreground: 0 0% 100%;
    --card: 220 13% 18%;
    --card-foreground: 0 0% 100%;
    --popover: 220 13% 18%;
    --popover-foreground: 0 0% 100%;
    --primary: 204 90% 53%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 204 90% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 18%;
    --foreground: 0 0% 100%;
    --card: 220 13% 18%;
    --card-foreground: 0 0% 100%;
    --popover: 220 13% 18%;
    --popover-foreground: 0 0% 100%;
    --primary: 204 90% 53%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 204 90% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .rdp-day_hasWod {
    @apply relative;
  }
  .rdp-day_hasWod::after {
    content: '';
    @apply absolute bottom-1.5 left-1/2 -translate-x-1/2 w-1.5 h-1.5 rounded-full bg-primary;
  }
  .rdp-day_selected {
    @apply !bg-primary !text-primary-foreground;
  }
}
